>**Lists in Python.**

In [1]:
saarc = ['Bangladesh', 'India', 'Pakistan', 'Bhutan', 
         'Nepal', 'Sri Lanka', 'Maldives']

print(saarc)

['Bangladesh', 'India', 'Pakistan', 'Bhutan', 'Nepal', 'Sri Lanka', 'Maldives']

Lists can be of _any sort of_ data-types.

In [116]:
people = [56, 43, 12, 67, 37, 79]
heights = [5.5, 5.67, 6.1, 4.9, 3.5]

print(people)
print(heights)

[56, 43, 12, 67, 37, 79]
[5.5, 5.67, 6.1, 4.9, 3.5]

`len` method can be used to print the _length_ of the list.

In [117]:
li = [56, 43, 12, 67, 37, 79]

print(len(li))

6

We can use _indexes_ to _address_ list elements.

In [118]:
li = [56, 43, 12, 67, 37, 79]

li[0] = 10

li[3] = 50

print(li)

[10, 43, 12, 50, 37, 79]

Lists start from `0` _index_. We can use _negative indexes_ to address elements from _backwards_.

In [119]:
li = [56, 43, 12, 67, 37, 79]

li[-1] = 10

li[-4] = 50

print(li)

[56, 43, 50, 67, 37, 10]

We can _slice_ any list and _store_ it into another list.

In [1]:
li = [1, 4, 2, 5, 6, 3, 4]
sliced_li = li[2:5]

print(li)
print(sliced_li)

[1, 4, 2, 5, 6, 3, 4]
[2, 5, 6]

We can _look_ for an element `in` the list.

In [2]:
saarc = ['Bangladesh', 'India', 'Pakistan', 'Bhutan', 
         'Nepal', 'Sri Lanka', 'Maldives']

country = 'Nepal'

if country in saarc:
    print(country, 'is a SAARC country')

else:
    print(country, 'isn\'t a SAARC country')

country = 'Iran'

if country not in saarc:
    print(country, 'isn\'t a SAARC country')

else:
    print(country, 'is SAARC country')

Nepal is a SAARC country
Iran isn't a SAARC country

We can also use `in` for looping through a list.

In [5]:
saarc = ['Bangladesh', 'India', 'Pakistan', 'Bhutan', 
         'Nepal', 'Sri Lanka', 'Maldives']

for country in saarc:
    print(country)

Bangladesh
India
Pakistan
Bhutan
Nepal
Sri Lanka
Maldives

`enumerate` helps to get the index also.

In [11]:
for index, country in enumerate(saarc, start=2):    # starts from second index
    print(index, country)

2 Bangladesh
3 India
4 Pakistan
5 Bhutan
6 Nepal
7 Sri Lanka
8 Maldives

`append` _adds_ new element in the list at the _end_.

In [3]:
saarc = ['Bangladesh', 'India', 'Pakistan', 'Bhutan', 
         'Nepal', 'Sri Lanka', 'Maldives']

country = 'Afghanistan'

saarc.append(country)

print(saarc)

['Bangladesh', 'India', 'Pakistan', 'Bhutan', 'Nepal', 'Sri Lanka', 'Maldives', 'Afghanistan']

`extend` method can be used to _add_ every elements of _a list_ into _another_ list.

In [4]:
party = ['bob', 'susie', 'anna']

new_members = ['hasbulla', 'joe']

party.extend(new_members)

print(party)

['bob', 'susie', 'anna', 'hasbulla', 'joe']

`max`, `min`, `sum` functions are usable as there title suggests.

In [8]:
li = [56, 43, 12, 67, 37, 79]

print('minimum value:', min(li))  # smallest element of the list `li`
print('maximum value:', max(li))  # largest element of the list `li`
print('summation', sum(li))  # summation of all the elements in the list `li`

minimum value: 12
maximum value: 79
summation 294

`index` returns index of a certain element.

In [12]:
ind67 = li.index(67)

print('67 is at index', ind67)

67 is at index 3

`sort` method _sorts_ the list.

In [5]:
li = [56, 43, 12, 67, 37, 79]

# sorts in ascending order
li.sort()
print('Sorted in ascending order:', li)

# sorts in descending order
li.sort(reverse=True)
print('Sorted in descending order:', li)

Sorted in ascending order: [12, 37, 43, 56, 67, 79]
Sorted in descending order: [79, 67, 56, 43, 37, 12]

`sort` method _sorts_ any list(the list gets _changed_). If we don't want to change the list, we can use `sorted` function.

In [6]:
li = [56, 43, 12, 67, 37, 79]

sorted_li = sorted(li)

print(li)
print(sorted_li)

[56, 43, 12, 67, 37, 79]
[12, 37, 43, 56, 67, 79]

`reverse` method _reverses_ the list.

In [123]:
li = [56, 43, 12, 67, 37, 79]

li.reverse()

print(li)

[79, 37, 67, 12, 43, 56]

`insert` method _inserts_ an element at a _new position_.

In [4]:
saarc = ['Bangladesh', 'India', 'Pakistan', 'Bhutan', 
         'Nepal', 'Sri Lanka', 'Maldives']

country = 'Afghanistan'

saarc.insert(3, country)

print(saarc)

['Bangladesh', 'India', 'Pakistan', 'Afghanistan', 'Bhutan', 'Nepal', 'Sri Lanka', 'Maldives']

`remove` _removes_ an element from the list.

In [125]:
li = [56, 43, 12, 67, 37, 12, 79, 12]

li.remove(12)

print(li)

[56, 43, 67, 37, 12, 79, 12]

Note that, `12` has been _removed_ from the _first index, where it's found_. Now, if we attempt to _remove_ an element from a list, _and the list doesn't have it_,

In [126]:
li = [56, 43, 12, 67, 37, 12, 79, 12]

li.remove(80)

print(li)

ValueError: list.remove(x): x not in list

We should _check_ for the element _before_ we remove it.

In [6]:
li = [56, 43, 12, 67, 37, 12, 79, 12]

number = 80

if number in li:
    li.remove(number)

else:
    print(number, 'doesn\'t belong to the list')

80 doesn't belong to the list

`pop` method _removes_ the _last element_ of the list.

In [7]:
fruits = ['mango', 'pineapple', 'jackfruit', 'banana']

fruits.pop()

print(fruits)

['mango', 'pineapple', 'jackfruit']

`count` method _counts_ how many times, any element is _present_ in the list.

In [8]:
li = [56, 43, 12, 67, 37, 12, 79, 12]

number = 12

cnt = li.count(number)

print(number, 'is present', cnt, 'times in the list.')

12 is present 3 times in the list.

We can perform `+` or `*` operations in Python.

In [ ]:
li1 = [1, 2, 3]
li2 = [4, 5]

li = li1 + li2  # All the elements of li1 and li2 will be added

print(li)

li = 3 * li1    # All the elemets of li1 will be added 3 times

print(li)

[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

`split` method _splits_ a string by desired separator and returns a list.

In [13]:
kingdoms = 'Chordate, Sponge, Arthropod, Annelid, Cnidaria'

list_of_kingdoms = kingdoms.split(', ')

print(list_of_kingdoms)

['Chordate', 'Sponge', 'Arthropod', 'Annelid', 'Cnidaria']

`shuffle` from `random` module helps to _shuffle_ a list.

In [1]:
from random import shuffle

li = [56, 43, 12, 67, 37, 12, 79, 12]

shuffle(li)

print(li)

[37, 43, 56, 79, 12, 12, 67, 12]

>**List comprehensions in Python.**

In [ ]:
li = [1, 2, 3, 4]

new_li = [2 * i for i in li]

print(new_li)

[2, 4, 6, 8]

Making a new list taking all the _even numbers_ from a list.

In [ ]:
li = [56, 43, 12, 67, 37, 12, 79, 12]

even_numbers = [x for x in li if x % 2 == 0]

print(even_numbers)

[56, 12, 12, 12]

In [12]:
a = [10, 20, 30]
b = a
a[0] = 60
print(a)
print(b)

[60, 20, 30]
[60, 20, 30]

What happend in here, is `a` and `b` share the same memory address. So both of them will get modified if either of one gets modified. We can use `copy()` if we want to allocate different memory address for each object.

In [13]:
a = [10, 20, 30]
b = a.copy()
a[0] = 60
print(a)
print(b)

[60, 20, 30]
[10, 20, 30]

We can use `is` keyword to check if two or more variables share the same memory address.

In [14]:
a = [10, 20, 30]
b = [10, 20, 30]

if a == b:
    print(a, 'and', b, 'are equal.')
else:
    print(a, 'and', b, 'aren\'t equal.')

if a is b:
    print(a, 'and', b, 'shares the same memory address.')
else:
    print(a, 'and', b, 'doesn\'t share the same memory address.')

b = a

if a is b:
    print(a, 'and', b, 'shares the same memory address.')
else:
    print(a, 'and', b, 'doesn\'t share the same memory address.')

[10, 20, 30] and [10, 20, 30] are equal.
[10, 20, 30] and [10, 20, 30] doesn't share the same memory address.
[10, 20, 30] and [10, 20, 30] shares the same memory address.

Moral of the story, `is` and `==` aren't the same thing.

We can make a _list_ of _random_ numbers using `randint`

In [5]:
from random import randint

rand_list = [randint(10, 20) for _ in range(5)]

print(rand_list)

[16, 10, 20, 20, 18]

But it's better to use `randrange` as we can assign steps.

In [24]:
from random import randrange

rand_list = [randrange(7, 20, 2) for _ in range(5)]

print(rand_list)

[17, 19, 11, 19, 13]

`randrange` won't generate any r-value.

`choice` and `choices` help to choose _random_ elements from a list.

In [4]:
from random import choice, choices

li = [56, 43, 12, 67, 37, 21, 79]

print(choice(li))           # returns an element
print(choices(li, k=3))     # returns a list

56
[37, 67, 37]

`sample` chooses each element once.

In [37]:
from random import sample

li = [56, 43, 12, 67, 37, 21, 79]

print(sample(li, k=3))

[37, 67, 43]

>**`N` fibonacci numbers printing program.**

In [10]:
N = 10

fib = [1, 1]

for i in range(2, 51):
    fib.append(fib[-1]+fib[-2])

for i in range(N):
    print(fib[i], end = ', ')

1, 1, 2, 3, 5, 8, 13, 21, 34, 55,

>**Maximum, minimum number and summation of a list of `n` random numbers.**

In [12]:
import random

n = 10

rand_list = []

for i in range(n):
    r = random.randint(-10, 10)
    rand_list.append(r)

print(rand_list)

print('Maximum number:', max(rand_list))
print('Minimum number:', min(rand_list))
print('Summation:', sum(rand_list))

[-2, 10, 1, -2, -5, -2, -9, -7, -2, -2]
Maximum number: 10
Minimum number: -9
Summation: -20

`tuples` in Python.

In [15]:
tup = (56, 43, 12, 67, 37, 21, 79, 12)

print(tup)

(56, 43, 12, 67, 37, 21, 79, 12)

In [16]:
tup[3] = 10

print(tup)

TypeError: 'tuple' object does not support item assignment

`tuples` are immutable.

We can set probability of choosing any element from a list.

In [29]:
names = ['bob', 'susie', 'anna', 'jacob', 'parker']

weights = (.15, .25, .10, .20, .20)

print(choices(names, k=5, weights=weights))

['bob', 'parker', 'susie', 'susie', 'susie']

`sets` in Python

In [18]:
new_set = {56, 43, 12, 67, 37, 21, 79, 12}

print(new_set)

{67, 37, 21, 56, 43, 12, 79}

`set` throws away the duplicates and doesn't care about the order.

In [19]:
if 12 in new_set:
    print('12 is present in the set.')

else:
    print('12 isn\'t present in the set.')

12 is present in the set.

`intersection` method returns a set of common members from two sets.

In [20]:
cs_courses = {'Math', 'Data Structures', 'History', 'Algorithms'}
art_courses = {'Design', 'History', 'Math', 'Literature'}

print(cs_courses.intersection(art_courses))

{'History', 'Math'}

`difference` method returns a set of elements that are not present in the second set.

In [21]:
print(cs_courses.difference(art_courses))

{'Algorithms', 'Data Structures'}

`union` method returns a set combining all the elements of two sets.

In [22]:
print(cs_courses.union(art_courses))

{'Algorithms', 'Math', 'Data Structures', 'Literature', 'History', 'Design'}

In [25]:
# Empty list

li = []
li = list()

# Empty tuple

tp = ()
tp = tuple()

# Empty set

st = {}
print(type(st))
st = set()

<class 'dict'>

`st = {}` creates an empty dictionary, not an empty set.